.selectinput.btn-group input {
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid #ccc;
  float: left;
  width: auto;
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.selectinput.btn-group input + .btn,
.selectinput.btn-group .form-control + .btn {
  margin-left: -1px;
}
.selectinput.btn-group.open .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.selectinput.btn-group.open input {
  border-bottom-left-radius: 0;
}
.selectinput.btn-group.open input + .btn,
.selectinput.btn-group.open .form-control + .btn {
  border-bottom-right-radius: 0;
}
.selectinput .dropdown-menu {
  left: 0;
  right: 0;
}
